---
layout: default
---
<div class="post">
  <header class="post-header">
    {% case page.permalink %}
      {% when '/publications/', 'else' %}
        {% assign image = site.images.publications %}
      {% when '/repositories/' %}
        {% assign image = site.images.repositories %}
    {% endcase %}
    <h1 class="post-title d-flex align-items-center align-content-baseline">
      <img class="width-32 mr-2" src="{{ image | prepend: '/assets/img/' | relative_url }}" alt="">
      {{ page.title | capitalize }}
    </h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
